.gitignore.swp
.idea/
__pycache__/
database/__pycache__/
endpoints/__pycache__/
endpoints/add/__pycache__/
endpoints/delete/__pycache__/
endpoints/get/__pycache__/
endpoints/list/__pycache__/
endpoints/parse/__pycache__/
inserturl/url1.txt
inserturl/url2.txt
inserturl/url3.txt
inserturl/url4.txt
inserturl/url5.txt
prices_all.xlsx
venv/

